.container {
  max-width: 90%;
  margin: 15px auto;
}

.user {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__title {
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
  }

  &__nav {
    align-self: flex-end;
    text-decoration: underline;
  }
}
