<section class="container">
  <div class="user" *ngIf="showPagenation">
    <h2 class="user__title">Users with pagination!</h2>
    <div class="user__nav">
      <a href="#" (click)="togglePagination(false)">
        Navigate to Users WithOut Pagenation.
      </a>
    </div>
  </div>

  <div class="user" *ngIf="!showPagenation">
    <h2 class="user__title">Users without pagination!</h2>
    <div class="user__nav">
      <a href="#" (click)="togglePagination(true)">
        Navigate to Users With Pagenation.
      </a>
    </div>
  </div>
</section>

<app-table [users]="users" [showPagenation]="showPagenation"></app-table>
