.container {
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid black;
}

.user-table {
  display: block;
  height: 400px;
  overflow-y: scroll;
  table-layout: fixed;
  position: sticky;
  top: 0;
  z-index: 10;

  &__head {
    &--row:first-child th {
      top: 0;
      position: sticky;
      background-color: #ddd;
      text-transform: uppercase;
      line-height: 3;
    }
  }

  &__head th {
    text-align: center;
    width: 200px;
    border: 1px solid black;
  }
  &--body {
    border-top: 2px solid black;

    &--row:hover {
      cursor: pointer;
      background-color: goldenrod;
    }
  }

  &__body td {
    text-align: center;
    width: 200px;
    border: 1px solid black;
  }
}

.footer {
  display: flex;
  max-width: 90%;
  margin: 20px auto 50px auto;

  justify-content: space-between;

  &__pagination {
    &--prev {
      margin-right: 10px;
    }
    &--page {
      &__button:hover {
        cursor: pointer;
        color: white;
        background-color: darkslategrey;
      }
      margin: 0 5px;
    }
    &--next {
      margin-left: 10px;
    }

    &--prev:hover:enabled,
    &--next:hover:enabled {
      cursor: pointer;
      color: white;
      background-color: darkslategrey;
    }

    &--prev:hover:disabled,
    &--next:hover:disabled {
      cursor: not-allowed;
    }
  }
}

.active {
  color: white;
  background-color: darkslategrey;
}
