<section class="container">
  <table class="user-table" id="user-table">
    <thead class="user-table__head">
      <tr class="user-table__head--row">
        <th>name</th>
        <th>phone</th>
        <th>email</th>
        <th>company</th>
        <th>date_entry</th>
        <th>org_num</th>
        <th>address_1</th>
        <th>city</th>
        <th>zip</th>
        <th>geo</th>
        <th>pan</th>
        <th>pin</th>
        <th>id</th>
        <th>status</th>
        <th>fee</th>
        <th>guid</th>
        <th>date_exit</th>
        <th>date_first</th>
        <th>date_recent</th>
        <th>url</th>
      </tr>
    </thead>
    <h2 *ngIf="usersNotFound">No records found</h2>
    <tbody class="user-table__body">
      <tr class="user-table__body--row" *ngFor="let user of usersCopy">
        <td>{{ user.name }}</td>
        <td>{{ user.phone }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.company }}</td>
        <td>{{ user.date_entry }}</td>
        <td>{{ user.org_num }}</td>
        <td>{{ user.address_1 }}</td>
        <td>{{ user.city }}</td>
        <td>{{ user.zip }}</td>
        <td>{{ user.geo }}</td>
        <td>{{ user.pan }}</td>
        <td>{{ user.pin }}</td>
        <td>{{ user.id }}</td>
        <td>{{ user.status }}</td>
        <td>{{ user.fee }}</td>
        <td>{{ user.guid }}</td>
        <td>{{ user.date_exit }}</td>
        <td>{{ user.date_first }}</td>
        <td>{{ user.date_recent }}</td>
        <td>{{ user.pin }}</td>
        <td>
          <button
            class="user-table__body--row__button"
            (click)="onSubmit(user.id, user.status)"
          >
            Submit
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</section>

<section class="footer" *ngIf="showPagenation">
  <div class="footer__pagination">
    <button
      class="footer__pagination--prev"
      (click)="getNextPrevPages(false)"
      [disabled]="disablePrev"
    >
      Previous
    </button>
    <span
      class="footer__pagination--page"
      *ngFor="let i of paginationList; let index = index"
    >
      <button
        [ngClass]="{ active: selectedPage === index }"
        class="footer__pagination--page__button"
        (click)="getUsersPerPage($event.target.value, index)"
        value="{{ i + 1 }}"
      >
        {{ i + 1 }}
      </button>
    </span>
    <button
      class="footer__pagination--next"
      (click)="getNextPrevPages(true)"
      [disabled]="disableNext"
    >
      Next
    </button>
  </div>

  <div class="footer__dropdown">
    <label>Records per page: </label>
    <select (change)="changeNumberOfPages($event.target.value)">
      <option *ngFor="let rec of noOfRecordsPerPage" value="{{ rec }}">
        {{ rec }}
      </option>
    </select>
  </div>
</section>
